.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
repo/net/dixton/dixton-common/1.0-SNAPSHOT/dixton-common-1.0-20241108.135510-1.jar
repo/net/dixton/dixton-common/1.0-SNAPSHOT/dixton-common-1.0-20241108.135510-1.jar.md5
repo/net/dixton/dixton-common/1.0-SNAPSHOT/dixton-common-1.0-20241108.135510-1.jar.sha1
repo/net/dixton/dixton-common/1.0-SNAPSHOT/dixton-common-1.0-20241108.135510-1.jar.sha256
repo/net/dixton/dixton-common/1.0-SNAPSHOT/dixton-common-1.0-20241108.135510-1.jar.sha512
repo/net/dixton/dixton-common/1.0-SNAPSHOT/dixton-common-1.0-20241108.135510-1.module
repo/net/dixton/dixton-common/1.0-SNAPSHOT/dixton-common-1.0-20241108.135510-1.module.md5
repo/net/dixton/dixton-common/1.0-SNAPSHOT/dixton-common-1.0-20241108.135510-1.module.sha1
repo/net/dixton/dixton-common/1.0-SNAPSHOT/dixton-common-1.0-20241108.135510-1.module.sha256
repo/net/dixton/dixton-common/1.0-SNAPSHOT/dixton-common-1.0-20241108.135510-1.module.sha512
repo/net/dixton/dixton-common/1.0-SNAPSHOT/dixton-common-1.0-20241108.135510-1.pom
repo/net/dixton/dixton-common/1.0-SNAPSHOT/dixton-common-1.0-20241108.135510-1.pom.md5
repo/net/dixton/dixton-common/1.0-SNAPSHOT/dixton-common-1.0-20241108.135510-1.pom.sha1
repo/net/dixton/dixton-common/1.0-SNAPSHOT/dixton-common-1.0-20241108.135510-1.pom.sha256
repo/net/dixton/dixton-common/1.0-SNAPSHOT/dixton-common-1.0-20241108.135510-1.pom.sha512
repo/net/dixton/dixton-common/1.0-SNAPSHOT/maven-metadata.xml
repo/net/dixton/dixton-common/1.0-SNAPSHOT/maven-metadata.xml.md5
repo/net/dixton/dixton-common/1.0-SNAPSHOT/maven-metadata.xml.sha1
repo/net/dixton/dixton-common/1.0-SNAPSHOT/maven-metadata.xml.sha256
repo/net/dixton/dixton-common/1.0-SNAPSHOT/maven-metadata.xml.sha512
repo/net/dixton/dixton-common/maven-metadata.xml
repo/net/dixton/dixton-common/maven-metadata.xml.md5
repo/net/dixton/dixton-common/maven-metadata.xml.sha1
repo/net/dixton/dixton-common/maven-metadata.xml.sha256
repo/net/dixton/dixton-common/maven-metadata.xml.sha512
